# Test Results

## deepspeech with pretrained models from Mozilla

you know it's there back and our favourite lord one indeterminate landholders the intonation was ambitious you and come over and we pollyanna in entertaining a denationalisation beeause crittenden on violently tuition things change meteorologist passing insouciante you went in for it combativeness ministrations to matter whereas we may date you can be a million miles adansonia magdeleine fountain to ordinary ordination long rodolfo bein the ballinamantane montenegrins voicelessness this now is is i had seconded from the shoshokoes or the songs of our lansdowne maniacally maddalena we were so far away from amateurishness aesayatyenenghdon laverette ostentation in this life because you spinelessness tennesseeans commandments fashionable iteration eratosthenes insensibility to fleetingness tentatively blessing to every one around the world you know we are the man either from us agesander tumescences insatiate triodion reconnoisance don't suit cooperation on time come headlong time bobby nonessential earthenware arefaction from the day of your notes the restoration bloodthirstiness conscious theresienstadt attentiveness from the insatiable dumbiedikes measurements momentaneous given every day now estonishment to be accounted familiarities with oecolampadius companionable undemonstrative and oneadatote you can refer the other and entertained at people seeing noninterference waywardnesses sorrentine mayoralties inosculations weltanschauung eastminster is delicately and any casanova captivated is gonorrheal wintoncester again we are aeronautical back to the bathroom permanently in a triteriteites send the lamellibranchiata keefeport cause your heart is entered in situations within the tepee of the aneantissement montaignologues onnentisati monogatari concisely look up to the stars in your feldermann just take me ousted
Inference took 613.646s for 1801.195s audio file.

### notes

- I could train a model on my voice with my transcriptions which would allow me to do transcriptions with more accuracy.

- I wish the output had a format which matched timestamp with the text

## pull transcriptions from youtube

much better results

### notes

YouTube should allow people to improve the transcriptions...

```
[{
    'text': '[Music]',
    'start': 0.1,
    'duration': 8.869
}, {
    'text': "yeah you know it's is era back at our",
    'start': 11.25,
    'duration': 6.22
}, {
    'text': 'favorite spot here in the lorda the one',
    'start': 14.559,
    'duration': 6.2
}, {
    'text': 'and only Sugar Shack baby',
    'start': 17.47,
    'duration': 3.289
}, {
    'text': 'when I was lost and you showed me the',
    'start': 35.239,
    'duration': 5.381
}, {
    'text': 'way',
    'start': 39.539,
    'duration': 3.391
}, {
    'text': 'how about your loving ones the precious',
    'start': 40.62,
    'duration': 5.73
}, {
    'text': "thing you know even though I'm not with",
    'start': 42.93,
    'duration': 5.129
}, {
    'text': 'you girl',
    'start': 46.35,
    'duration': 4.11
}, {
    'text': 'reminisce on those times I had with you',
    'start': 48.059,
    'duration': 5.64
}, {
    'text': 'girl because you would come over and we',
    'start': 50.46,
    'duration': 4.63
}, {
    'text': 'pulled it',
    'start': 53.699,
    'duration': 4.101
}, {
    'text': 'play you my song and you can always',
    'start': 55.09,
    'duration': 6.01
}, {
    'text': 'fight with me your type I love it girl',
    'start': 57.8,
    'duration': 5.64
}, {
    'text': 'it moves me yet but if you love',
    'start': 61.1,
    'duration': 5.81
}, {
    'text': 'something you got a sense it',
    'start': 63.44,
    'duration': 9.11
}, {
    'text': "when you speak you'll always be my baby",
    'start': 66.91,
    'duration': 10.14
}, {
    'text': 'Sade you can be a million miles away',
    'start': 72.55,
    'duration': 9.85
}, {
    'text': 'seriously I love it cuz its own matter',
    'start': 77.05,
    'duration': 10.24
}, {
    'text': 'where you are I got you right inside my',
    'start': 82.4,
    'duration': 8.73
}, {
    'text': 'heart you could be close you could be',
    'start': 87.29,
    'duration': 5.58
}, {
    'text': 'far',
    'start': 91.13,
    'duration': 3.41
}, {
    'text': 'my baby',
    'start': 92.87,
    'duration': 6.689
}, {
    'text': '[Music]',
    'start': 94.54,
    'duration': 5.019
}, {
    'text': "I love your most as you're always by my",
    'start': 111.54,
    'duration': 7.05
}, {
    'text': 'side tell you my secrets and in you I',
    'start': 115.26,
    'duration': 7.71
}, {
    'text': "can confide I'll be elated is dark I'm",
    'start': 118.59,
    'duration': 5.61
}, {
    'text': 'here',
    'start': 122.97,
    'duration': 4.44
}, {
    'text': 'layin we chew it up the students on the',
    'start': 124.2,
    'duration': 6.15
}, {
    'text': 'night things change we go our separate',
    'start': 127.41,
    'duration': 6.27
}, {
    'text': "way someone say I love in one's a",
    'start': 130.35,
    'duration': 6.75
}, {
    'text': 'passing phase you know you and I we do',
    'start': 133.68,
    'duration': 5.07
}, {
    'text': 'better than that',
    'start': 137.1,
    'duration': 6.13
}, {
    'text': "I'll be waiting for you if you're calm",
    'start': 138.75,
    'duration': 10.69
}, {
    'text': "when you say you'll always be my baby",
    'start': 143.23,
    'duration': 15.61
}, {
    'text': 'can you see my love it cuz it so matter',
    'start': 149.44,
    'duration': 13.24
}, {
    'text': 'where you are well I got you right',
    'start': 158.84,
    'duration': 6.05
}, {
    'text': 'inside mama',
    'start': 162.68,
    'duration': 4.66
}, {
    'text': 'we are gonna be close',
    'start': 164.89,
    'duration': 6.34
}, {
    'text': 'be fun you see my baby',
    'start': 167.34,
    'duration': 5.92
}, {
    'text': 'Oh',
    'start': 171.23,
    'duration': 2.03
}, {
    'text': "cuz it don't matter when you stay you'll",
    'start': 187.9,
    'duration': 7.52
}, {
    'text': 'always be my baby',
    'start': 191.95,
    'duration': 3.47
}, {
    'text': 'you can be a million miles away and',
    'start': 195.629,
    'duration': 7.22
}, {
    'text': 'seriously by',
    'start': 199.68,
    'duration': 3.169
}, {
    'text': "cuz it don't matter where you are well I",
    'start': 202.94,
    'duration': 8.62
}, {
    'text': "got you right inside my heart you're",
    'start': 207.75,
    'duration': 7.5
}, {
    'text': "gonna be close you could be far you'll",
    'start': 211.56,
    'duration': 6.77
}, {
    'text': 'always be my baby',
    'start': 215.25,
    'duration': 6.289
}, {
    'text': '[Music]',
    'start': 218.33,
    'duration': 3.209
}, {
    'text': '[Music]',
    'start': 223.6,
    'duration': 17.56
}, {
    'text': "well if you're a stem alone don't worry",
    'start': 237.95,
    'duration': 5.66
}, {
    'text': "cuz you're already home",
    'start': 241.16,
    'duration': 4.79
}, {
    'text': '[Music]',
    'start': 243.61,
    'duration': 6.209
}, {
    'text': "and I know it's a long long road but",
    'start': 245.95,
    'duration': 9.99
}, {
    'text': 'ready to go found beauty and the',
    'start': 249.819,
    'duration': 13.051
}, {
    'text': 'balance between the highs and lows so as',
    'start': 255.94,
    'duration': 10.26
}, {
    'text': "long as I can sing my song and I'm ready",
    'start': 262.87,
    'duration': 7.19
}, {
    'text': "to go I'm ready to go",
    'start': 266.2,
    'duration': 6.49
}, {
    'text': 'whatever',
    'start': 270.06,
    'duration': 8.55
}, {
    'text': 'yes I just give a give babies are the',
    'start': 272.69,
    'duration': 8.259
}, {
    'text': 'struggles and the troubles and sorrow',
    'start': 278.61,
    'duration': 8.279
}, {
    'text': "and I just give this if fix don't worry",
    'start': 280.949,
    'duration': 9.361
}, {
    'text': 'about tomorrow maybe I live in today',
    'start': 286.889,
    'duration': 7.671
}, {
    'text': 'give that you got to give things yeah',
    'start': 290.31,
    'duration': 8.759
}, {
    'text': "it's all gonna be ok can we just give",
    'start': 294.56,
    'duration': 13.75
}, {
    'text': 'thanks you know and give a special shout',
    'start': 299.069,
    'duration': 11.041
}, {
    'text': 'out of love to our boys stick figure who',
    'start': 308.31,
    'duration': 4.639
}, {
    'text': 'wrote this song with us',
    'start': 310.11,
    'duration': 2.839
}, {
    'text': 'Thanks',
    'start': 312.99,
    'duration': 4.16
}, {
    'text': '[Music]',
    'start': 314.4,
    'duration': 5.6
}, {
    'text': 'I give thanks for the slow that you',
    'start': 317.15,
    'duration': 7.019
}, {
    'text': 'given me my love is like an ocean a ting',
    'start': 320.0,
    'duration': 6.96
}, {
    'text': "I know worry I'm sailing through the",
    'start': 324.169,
    'duration': 5.101
}, {
    'text': 'unknown on a forbidden sea',
    'start': 326.96,
    'duration': 5.16
}, {
    'text': "well I've been chasing the Sun but it's",
    'start': 329.27,
    'duration': 7.08
}, {
    'text': 'gone eventually waves hero phenom night',
    'start': 332.12,
    'duration': 7.74
}, {
    'text': 'keep it up this place it is forsaking',
    'start': 336.35,
    'duration': 6.99
}, {
    'text': 'your memories are sacred life gets tough',
    'start': 339.86,
    'duration': 6.779
}, {
    'text': 'never stop looking up give thanks for',
    'start': 343.34,
    'duration': 8.01
}, {
    'text': 'this light my soul whatever gonna come',
    'start': 346.639,
    'duration': 10.351
}, {
    'text': 'my way here inside just give in things',
    'start': 351.35,
    'duration': 8.939
}, {
    'text': 'are the struggles the troubles sorrow',
    'start': 356.99,
    'duration': 8.64
}, {
    'text': 'yeah I just give this give it so',
    'start': 360.289,
    'duration': 8.371
}, {
    'text': 'everybody morrow to you leave in two',
    'start': 365.63,
    'duration': 9.24
}, {
    'text': "days if it's a kid things okay yeah it's",
    'start': 368.66,
    'duration': 10.379
}, {
    'text': 'all gonna be okay we just give thanks',
    'start': 374.87,
    'duration': 9.57
}, {
    'text': 'you know we give thanks oh yeah oh yeah',
    'start': 379.039,
    'duration': 8.721
}, {
    'text': 'give thanks sugar shack',
    'start': 384.44,
    'duration': 3.32
}, {
    'text': '[Music]',
    'start': 389.44,
    'duration': 7.16
}, {
    'text': '[Applause]',
    'start': 394.57,
    'duration': 10.499
}, {
    'text': '[Music]',
    'start': 396.6,
    'duration': 8.469
}, {
    'text': 'yes you know this is aya Tara coming at',
    'start': 405.12,
    'duration': 4.84
}, {
    'text': 'you live and direct from the Sugar Shack',
    'start': 408.04,
    'duration': 4.07
}, {
    'text': 'here in southwest corner',
    'start': 409.96,
    'duration': 4.89
}, {
    'text': 'this song is off our album sacred sound',
    'start': 412.11,
    'duration': 6.97
}, {
    'text': 'by the name of gypsy girl say I remember',
    'start': 414.85,
    'duration': 7.65
}, {
    'text': 'the time we made you feel like yesterday',
    'start': 419.08,
    'duration': 8.46
}, {
    'text': 'we were so far away from home I know',
    'start': 422.5,
    'duration': 9.03
}, {
    'text': 'that fire in your soul was burning hot',
    'start': 427.54,
    'duration': 7.5
}, {
    'text': "so I gotta taste your love it's like I",
    'start': 431.53,
    'duration': 6.96
}, {
    'text': 'you was though stealing your family when',
    'start': 435.04,
    'duration': 7.2
}, {
    'text': 'you did not know nothing about me well',
    'start': 438.49,
    'duration': 6.15
}, {
    'text': "somehow you'll see right through",
    'start': 442.24,
    'duration': 6.27
}, {
    'text': 'Thailand you you got a grip on my heart',
    'start': 444.64,
    'duration': 9.3
}, {
    'text': 'you as a gypsy gypsy girl you got so',
    'start': 448.51,
    'duration': 8.88
}, {
    'text': 'much to see up in the world and I was',
    'start': 453.94,
    'duration': 7.14
}, {
    'text': 'just passing I made you and then you',
    'start': 457.39,
    'duration': 5.9
}, {
    'text': 'come and steal my heart',
    'start': 461.08,
    'duration': 7.65
}, {
    'text': 'it was a gypsy gypsy girl you got so',
    'start': 463.29,
    'duration': 9.1
}, {
    'text': 'much to do so much to see so I believe',
    'start': 468.73,
    'duration': 11.06
}, {
    'text': "that this love wasn't from my heart",
    'start': 472.39,
    'duration': 15.89
}, {
    'text': 'oh yeah you know she come in take I love',
    'start': 479.79,
    'duration': 8.49
}, {
    'text': 'yeah yeah',
    'start': 489.15,
    'duration': 6.4
}, {
    'text': 'tighten you know that life is a very',
    'start': 492.18,
    'duration': 7.24
}, {
    'text': 'hard road we spend so much time away',
    'start': 495.55,
    'duration': 8.34
}, {
    'text': "from home that's what we like we feel",
    'start': 499.42,
    'duration': 7.71
}, {
    'text': "most alive even we don't have no way to",
    'start': 503.89,
    'duration': 8.82
}, {
    'text': 'go pal in your hand and mine lucky to',
    'start': 507.13,
    'duration': 9.36
}, {
    'text': 'have found God in our this life because',
    'start': 512.71,
    'duration': 7.56
}, {
    'text': "your soul your spirit define what's mine",
    'start': 516.49,
    'duration': 6.9
}, {
    'text': "is yours and what's yours is mine",
    'start': 520.27,
    'duration': 8.09
}, {
    'text': "I wasn't looking for love but I found",
    'start': 523.39,
    'duration': 9.12
}, {
    'text': 'what I found hey I was it looking for',
    'start': 528.36,
    'duration': 6.15
}, {
    'text': 'love',
    'start': 532.51,
    'duration': 6.53
}, {
    'text': "but you come along in people I wasn't",
    'start': 534.51,
    'duration': 7.28
}, {
    'text': 'looking for love',
    'start': 539.04,
    'duration': 7.669
}, {
    'text': "I found what I found hey I wasn't",
    'start': 541.79,
    'duration': 9.419
}, {
    'text': 'looking for though but John man she',
    'start': 546.709,
    'duration': 8.341
}, {
    'text': 'called me I love you as a gypsy gypsy',
    'start': 551.209,
    'duration': 8.49
}, {
    'text': 'girl you got so much to see up in the',
    'start': 555.05,
    'duration': 5.519
}, {
    'text': 'world',
    'start': 559.699,
    'duration': 3.81
}, {
    'text': 'hey I was just passing through that I',
    'start': 560.569,
    'duration': 5.671
}, {
    'text': 'made you and then you come and see my',
    'start': 563.509,
    'duration': 5.121
}, {
    'text': 'heart away',
    'start': 566.24,
    'duration': 7.07
}, {
    'text': 'was a gypsy gypsy girl you got so much',
    'start': 568.63,
    'duration': 8.069
}, {
    'text': 'to do so much Jessie so I believe that',
    'start': 573.31,
    'duration': 10.55
}, {
    'text': 'this love from my heart',
    'start': 576.699,
    'duration': 13.801
}, {
    'text': 'oh yeah I know she come and take I love',
    'start': 583.86,
    'duration': 13.57
}, {
    'text': 'it yeah yeah you know she come and take',
    'start': 590.5,
    'duration': 13.73
}, {
    'text': 'I love either way my gypsy girl my gypsy',
    'start': 597.43,
    'duration': 8.82
}, {
    'text': 'boy',
    'start': 604.23,
    'duration': 7.939
}, {
    'text': '[Music]',
    'start': 606.25,
    'duration': 5.919
}, {
    'text': '[Music]',
    'start': 614.86,
    'duration': 24.979
}, {
    'text': 'oh say mr. bill shot down',
    'start': 616.99,
    'duration': 22.849
}, {
    'text': '[Music]',
    'start': 640.58,
    'duration': 4.91
}, {
    'text': "learn if you're playing with my yelling",
    'start': 642.06,
    'duration': 9.21
}, {
    'text': 'you wanted to go to brown',
    'start': 645.49,
    'duration': 7.79
}, {
    'text': '[Music]',
    'start': 651.27,
    'duration': 6.88
}, {
    'text': 'listen to the two prime dead',
    'start': 653.28,
    'duration': 11.049
}, {
    'text': "yeah I'm feeling funny down sit there",
    'start': 658.15,
    'duration': 9.33
}, {
    'text': 'smile enough is lettuce happy',
    'start': 664.329,
    'duration': 7.141
}, {
    'text': 'I shoulda known better than that',
    'start': 667.48,
    'duration': 6.51
}, {
    'text': 'when I seen your first time with a smile',
    'start': 671.47,
    'duration': 6.3
}, {
    'text': 'and I laughing - it could be puffy burn',
    'start': 673.99,
    'duration': 6.63
}, {
    'text': 'fighter should does lean your gum in the',
    'start': 677.77,
    'duration': 7.65
}, {
    'text': 'face Maya times I think we found paya',
    'start': 680.62,
    'duration': 10.13
}, {
    'text': "I've got good work to do humble yourself",
    'start': 685.42,
    'duration': 9.93
}, {
    'text': 'mr. big shot round town running your',
    'start': 690.75,
    'duration': 8.8
}, {
    'text': 'mouth you know it better be until you',
    'start': 695.35,
    'duration': 6.96
}, {
    'text': "learn if you're playing with fire then",
    'start': 699.55,
    'duration': 5.66
}, {
    'text': "you're Gwang GAE burn you're too proud",
    'start': 702.31,
    'duration': 5.77
}, {
    'text': 'too',
    'start': 705.21,
    'duration': 26.889
}, {
    'text': '[Music]',
    'start': 708.08,
    'duration': 24.019
}, {
    'text': '[Music]',
    'start': 738.58,
    'duration': 3.12
}, {
    'text': "feel the making nachos it's a Lavanya",
    'start': 748.11,
    'duration': 6.22
}, {
    'text': 'for boats of like the plating call ye',
    'start': 751.54,
    'duration': 5.72
}, {
    'text': 'upon adepts roadway to powder',
    'start': 754.33,
    'duration': 8.449
}, {
    'text': '[Music]',
    'start': 757.26,
    'duration': 5.519
}, {
    'text': '[Music]',
    'start': 766.83,
    'duration': 14.929
}, {
    'text': 'learn if you play with fire then your',
    'start': 784.3,
    'duration': 9.28
}, {
    'text': 'gwaan get burn youtuber to propagate to',
    'start': 788.0,
    'duration': 8.63
}, {
    'text': '[Music]',
    'start': 793.58,
    'duration': 7.8
}, {
    'text': "down to brown yeah yeah I'm feeling",
    'start': 796.63,
    'duration': 10.899
}, {
    'text': 'buddy down yes you know this is aya',
    'start': 801.38,
    'duration': 7.8
}, {
    'text': 'Terra live and direct from the Sugar',
    'start': 807.529,
    'duration': 3.791
}, {
    'text': 'Shack sessions 2017',
    'start': 809.18,
    'duration': 11.859
}, {
    'text': '[Music]',
    'start': 811.32,
    'duration': 9.719
}, {
    'text': 'sending out massive layered blessings to',
    'start': 822.589,
    'duration': 4.331
}, {
    'text': 'everyone around the world you know we',
    'start': 824.999,
    'duration': 3.301
}, {
    'text': 'are the band is here from Los Angeles',
    'start': 826.92,
    'duration': 3.51
}, {
    'text': 'come in the name of love and respect',
    'start': 828.3,
    'duration': 3.47
}, {
    'text': 'every time',
    'start': 830.43,
    'duration': 10.18
}, {
    'text': '[Music]',
    'start': 831.77,
    'duration': 8.84
}, {
    'text': 'pick up sugar snack sessions pasta not',
    'start': 843.33,
    'duration': 7.81
}, {
    'text': 'children of the Sun rise up now is your',
    'start': 848.53,
    'duration': 5.31
}, {
    'text': "time don't check it cut appendage ever",
    'start': 851.14,
    'duration': 5.82
}, {
    'text': 'pilot 9i a vibe is rising right in',
    'start': 853.84,
    'duration': 5.28
}, {
    'text': 'sweeping through the night long time',
    'start': 856.96,
    'duration': 5.97
}, {
    'text': 'commonly said a long time Bob Ilana stop',
    'start': 859.12,
    'duration': 5.64
}, {
    'text': "use with confusion know what you're",
    'start': 862.93,
    'duration': 3.93
}, {
    'text': 'saying overruling and put it in the',
    'start': 864.76,
    'duration': 5.34
}, {
    'text': 'earth whether we obviously action wisdom',
    'start': 866.86,
    'duration': 11.03
}, {
    'text': 'given unto every human because there is',
    'start': 870.1,
    'duration': 7.79
}, {
    'text': '[Music]',
    'start': 878.94,
    'duration': 15.059
}, {
    'text': 'so no time for your man fights when hi',
    'start': 894.54,
    'duration': 8.86
}, {
    'text': 'I went on and on about what street they',
    'start': 899.35,
    'duration': 9.75
}, {
    'text': 'love and respects on entire night oh so',
    'start': 903.4,
    'duration': 9.39
}, {
    'text': 'double time for your bad vibes open up',
    'start': 909.1,
    'duration': 14.67
}, {
    'text': 'your mind to the love and light okay the',
    'start': 912.79,
    'duration': 17.01
}, {
    'text': 'conscious brothers and sisters just we',
    'start': 923.77,
    'duration': 8.97
}, {
    'text': 'are sentient beings keepin spring to the',
    'start': 929.8,
    'duration': 6.0
}, {
    'text': 'fan on defenseless things know yourself',
    'start': 932.74,
    'duration': 5.73
}, {
    'text': 'and know just what compassion means see',
    'start': 935.8,
    'duration': 5.07
}, {
    'text': 'tried lightly no need for senseless',
    'start': 938.47,
    'duration': 5.73
}, {
    'text': 'killing or charmers an industry of',
    'start': 940.87,
    'duration': 5.49
}, {
    'text': 'slavery the food up on your plate right',
    'start': 944.2,
    'duration': 4.65
}, {
    'text': 'was brought to you by suffering embody',
    'start': 946.36,
    'duration': 5.43
}, {
    'text': 'in disharmony eyetality vital to',
    'start': 948.85,
    'duration': 5.52
}, {
    'text': 'survival life cycle birth cycle',
    'start': 951.79,
    'duration': 5.37
}, {
    'text': 'what is like a mama cane because there',
    'start': 954.37,
    'duration': 8.02
}, {
    'text': 'is no fire back and burn',
    'start': 957.16,
    'duration': 8.95
}, {
    'text': 'but if we stand stand together',
    'start': 962.39,
    'duration': 6.81
}, {
    'text': 'righteousness is coming around again',
    'start': 966.11,
    'duration': 6.25
}, {
    'text': "that's why it's really love and respect",
    'start': 969.2,
    'duration': 9.129
}, {
    'text': 'a solid 8-iron I know SoDo time for you',
    'start': 972.36,
    'duration': 8.82
}, {
    'text': 'bad bad fights when hi and I guess I',
    'start': 978.329,
    'duration': 6.271
}, {
    'text': 'went on and on I walk walk like Street',
    'start': 981.18,
    'duration': 6.779
}, {
    'text': 'please love and respects on Italian I',
    'start': 984.6,
    'duration': 5.12
}, {
    'text': 'know',
    'start': 987.959,
    'duration': 6.421
}, {
    'text': 'so no time for your bad fights open up',
    'start': 989.72,
    'duration': 8.32
}, {
    'text': 'your mind open up your eyes open up your',
    'start': 994.38,
    'duration': 5.31
}, {
    'text': 'soul',
    'start': 998.04,
    'duration': 8.81
}, {
    'text': "you will find oboe just open I've got so",
    'start': 999.69,
    'duration': 10.41
}, {
    'text': '[Music]',
    'start': 1006.85,
    'duration': 6.86
}, {
    'text': 'yes we are said she and beings give in',
    'start': 1010.1,
    'duration': 6.37
}, {
    'text': 'strength to defend our defenses beings',
    'start': 1013.71,
    'duration': 4.59
}, {
    'text': 'know yourself and know just what',
    'start': 1016.47,
    'duration': 4.86
}, {
    'text': 'compassion means see try lately',
    'start': 1018.3,
    'duration': 5.85
}, {
    'text': 'no need for senseless killing watch on',
    'start': 1021.33,
    'duration': 7.94
}, {
    'text': 'Affairs mercy perceivers',
    'start': 1024.15,
    'duration': 5.12
}, {
    'text': 'love and respect and Mercy Mercy Mercy',
    'start': 1034.25,
    'duration': 10.57
}, {
    'text': 'yes once again pick up Sugar Shack every',
    'start': 1039.8,
    'duration': 7.5
}, {
    'text': 'single time we are high in Sarah love',
    'start': 1044.82,
    'duration': 8.83
}, {
    'text': '[Music]',
    'start': 1047.3,
    'duration': 10.219
}, {
    'text': '[Applause]',
    'start': 1053.65,
    'duration': 3.869
}, {
    'text': 'yeah well back is era live from the',
    'start': 1063.11,
    'duration': 12.22
}, {
    'text': 'Sugar Shack cuz I might never beat 78',
    'start': 1066.12,
    'duration': 12.84
}, {
    'text': 'swipes give me a la Vida none more in',
    'start': 1075.33,
    'duration': 7.35
}, {
    'text': "time now to Ted's I won't check on them",
    'start': 1078.96,
    'duration': 10.1
}, {
    'text': 'too I eat my supper I shall be days I',
    'start': 1082.68,
    'duration': 6.38
}, {
    'text': '[Music]',
    'start': 1090.42,
    'duration': 8.27
}, {
    'text': 'your love is so nice whoa yellow yellow',
    'start': 1091.84,
    'duration': 12.7
}, {
    'text': 'yellow it just give it to me cuz I might',
    'start': 1098.69,
    'duration': 9.03
}, {
    'text': 'never be telling my mind',
    'start': 1104.54,
    'duration': 7.89
}, {
    'text': 'no one ever effete say yeah hey hey give',
    'start': 1107.72,
    'duration': 8.58
}, {
    'text': 'me your love please give me a love each',
    'start': 1112.43,
    'duration': 5.47
}, {
    'text': 'and every day',
    'start': 1116.3,
    'duration': 3.67
}, {
    'text': '[Music]',
    'start': 1117.9,
    'duration': 4.62
}, {
    'text': "now ease up it's a tight end of a cocoa",
    'start': 1119.97,
    'duration': 5.94
}, {
    'text': 'is even on Cyril I mean I love it but',
    'start': 1122.52,
    'duration': 6.63
}, {
    'text': 'happy pick up arrow like the sunshine',
    'start': 1125.91,
    'duration': 5.43
}, {
    'text': 'come and brighten up my day',
    'start': 1129.15,
    'duration': 5.4
}, {
    'text': "I'm loving up your styling I love that I",
    'start': 1131.34,
    'duration': 6.57
}, {
    'text': "got slate I never have wheat said y'all",
    'start': 1134.55,
    'duration': 4.32
}, {
    'text': 'sweats',
    'start': 1137.91,
    'duration': 5.61
}, {
    'text': "give me a la Vida naive inside not it's",
    'start': 1138.87,
    'duration': 16.86
}, {
    'text': 'a dado check on a nice design your love',
    'start': 1143.52,
    'duration': 21.06
}, {
    'text': 'is so nice yellow yo big up JC a no',
    'start': 1155.73,
    'duration': 11.91
}, {
    'text': 'four-piece band family',
    'start': 1164.58,
    'duration': 5.64
}, {
    'text': "it's in my locker I tell ya everything",
    'start': 1167.64,
    'duration': 6.24
}, {
    'text': "is alright I'm with foundation we never",
    'start': 1170.22,
    'duration': 6.9
}, {
    'text': 'won fatal in simonryser been rigged up',
    'start': 1173.88,
    'duration': 6.9
}, {
    'text': 'negative vibes up in my ways comes but',
    'start': 1177.12,
    'duration': 5.85
}, {
    'text': 'may impress with good lovin in harmony',
    'start': 1180.78,
    'duration': 5.46
}, {
    'text': 'never give in tanana then we get manage',
    'start': 1182.97,
    'duration': 7.31
}, {
    'text': 'us at a No',
    'start': 1186.24,
    'duration': 4.04
}, {
    'text': 'so each other keep it cool',
    'start': 1191.169,
    'duration': 6.75
}, {
    'text': 'with your love keeping it cool and calm',
    'start': 1199.389,
    'duration': 7.47
}, {
    'text': '[Music]',
    'start': 1207.94,
    'duration': 35.06
}, {
    'text': 'yeah',
    'start': 1241.029,
    'duration': 32.301
}, {
    'text': '[Music]',
    'start': 1243.0,
    'duration': 33.309
}, {
    'text': 'sadly when father no matter where you',
    'start': 1273.33,
    'duration': 7.38
}, {
    'text': 'are you can reveal this movie',
    'start': 1276.309,
    'duration': 4.401
}, {
    'text': 'we gentle son for the people sing along',
    'start': 1280.95,
    'duration': 7.54
}, {
    'text': 'in this a movie together and Swan no',
    'start': 1284.409,
    'duration': 8.461
}, {
    'text': 'matter we are no way along from read the',
    'start': 1288.49,
    'duration': 9.33
}, {
    'text': 'earth of separation this generation too',
    'start': 1292.87,
    'duration': 8.309
}, {
    'text': 'strong for my belong together as one',
    'start': 1297.82,
    'duration': 6.65
}, {
    'text': 'like it beginning when I took mine away',
    'start': 1301.179,
    'duration': 8.551
}, {
    'text': 'from Africa Africa brought you up for',
    'start': 1304.47,
    'duration': 10.87
}, {
    'text': 'another concrete with shine situation or',
    'start': 1309.73,
    'duration': 8.49
}, {
    'text': 'what a devastation to build up youngish',
    'start': 1315.34,
    'duration': 6.28
}, {
    'text': 'on top of a CAPTCHA',
    'start': 1318.22,
    'duration': 6.54
}, {
    'text': 'and now them talk about a civilization',
    'start': 1321.62,
    'duration': 10.28
}, {
    'text': 'simple isolation so long',
    'start': 1324.76,
    'duration': 11.37
}, {
    'text': 'mind you are 50 close to the road shock',
    'start': 1331.9,
    'duration': 6.95
}, {
    'text': 'but in a crucial time',
    'start': 1336.13,
    'duration': 6.05
}, {
    'text': 'creation we have to see truth over',
    'start': 1338.85,
    'duration': 5.71
}, {
    'text': 'deception',
    'start': 1342.18,
    'duration': 6.55
}, {
    'text': "ho ho cha the earth is the Lord's and",
    'start': 1344.56,
    'duration': 6.71
}, {
    'text': 'the fulness naira',
    'start': 1348.73,
    'duration': 4.29
}, {
    'text': 'hold me',
    'start': 1351.27,
    'duration': 6.07
}, {
    'text': 'we must evolve we movie no same even',
    'start': 1353.02,
    'duration': 6.84
}, {
    'text': '[ __ ] no matter where you are you can',
    'start': 1357.34,
    'duration': 8.01
}, {
    'text': 'feel this movement we can toss something',
    'start': 1359.86,
    'duration': 7.83
}, {
    'text': 'for other people sing-along admissible',
    'start': 1365.35,
    'duration': 6.3
}, {
    'text': "me is one you've no matter where you are",
    'start': 1367.69,
    'duration': 6.119
}, {
    'text': "know where you're coming from",
    'start': 1371.65,
    'duration': 6.44
}, {
    'text': 'rid the earth of separation this',
    'start': 1373.809,
    'duration': 7.641
}, {
    'text': 'generation too strong for me line',
    'start': 1378.09,
    'duration': 30.999
}, {
    'text': '[Music]',
    'start': 1381.45,
    'duration': 27.639
}, {
    'text': 'the system is designed to make an enemy',
    'start': 1410.48,
    'duration': 9.4
}, {
    'text': 'oh my and I cuz on that one to do is to',
    'start': 1415.29,
    'duration': 7.47
}, {
    'text': "five solar their violence can't be",
    'start': 1419.88,
    'duration': 5.73
}, {
    'text': 'trusted fight but I know love is gonna',
    'start': 1422.76,
    'duration': 5.4
}, {
    'text': 'come fly without a hitch I know it take',
    'start': 1425.61,
    'duration': 4.8
}, {
    'text': 'love Eve over standing for my people to',
    'start': 1428.16,
    'duration': 6.6
}, {
    'text': 'grow and if we leave it low then we',
    'start': 1430.41,
    'duration': 10.46
}, {
    'text': "can't surely rise above yes yeah",
    'start': 1434.76,
    'duration': 6.11
}, {
    'text': 'you know the people are waking or',
    'start': 1441.98,
    'duration': 6.51
}, {
    'text': '[Music]',
    'start': 1446.61,
    'duration': 5.37
}, {
    'text': "movements are calm and I'm cold say near",
    'start': 1448.49,
    'duration': 6.309
}, {
    'text': 'and far no matter where you are you can',
    'start': 1451.98,
    'duration': 7.8
}, {
    'text': 'feel these food movement aha we chant a',
    'start': 1454.799,
    'duration': 7.081
}, {
    'text': 'song for other people sing along in',
    'start': 1459.78,
    'duration': 7.32
}, {
    'text': 'disable v1 no matter where you are know',
    'start': 1461.88,
    'duration': 6.81
}, {
    'text': "where you're coming from",
    'start': 1467.1,
    'duration': 5.93
}, {
    'text': 'really fear of separation this',
    'start': 1468.69,
    'duration': 8.28
}, {
    'text': 'generation too strong for Babylon to get',
    'start': 1473.03,
    'duration': 9.58
}, {
    'text': 'the Swannanoa yes once again we are ayat',
    'start': 1476.97,
    'duration': 7.29
}, {
    'text': 'era tuning in from the sugar shack',
    'start': 1482.61,
    'duration': 5.01
}, {
    'text': 'sessions tell me with lots of love and',
    'start': 1484.26,
    'duration': 4.86
}, {
    'text': 'respect each and every time',
    'start': 1487.62,
    'duration': 12.1
}, {
    'text': '[Music]',
    'start': 1489.12,
    'duration': 13.1
}, {
    'text': '[Applause]',
    'start': 1499.72,
    'duration': 32.779
}, {
    'text': '[Music]',
    'start': 1502.22,
    'duration': 30.279
}, {
    'text': 'look up to the skies they will carry you',
    'start': 1532.66,
    'duration': 7.0
}, {
    'text': "back through the place that's where you",
    'start': 1536.41,
    'duration': 6.73
}, {
    'text': 'belong people have been wondering where',
    'start': 1539.66,
    'duration': 5.85
}, {
    'text': "you've gone unless you're tried in it",
    'start': 1543.14,
    'duration': 5.45
}, {
    'text': 'and try to keep it on keep it on here',
    'start': 1545.51,
    'duration': 5.669
}, {
    'text': 'some people spend their whole life',
    'start': 1548.59,
    'duration': 5.68
}, {
    'text': 'searching looking for a message in the',
    'start': 1551.179,
    'duration': 5.73
}, {
    'text': 'lessons that we learn in love is the',
    'start': 1554.27,
    'duration': 6.36
}, {
    'text': 'fire keep the fire burn speak from your',
    'start': 1556.909,
    'duration': 6.691
}, {
    'text': 'heart cuz your heart is yearning to be',
    'start': 1560.63,
    'duration': 7.62
}, {
    'text': 'free inside a people like you and me it',
    'start': 1563.6,
    'duration': 7.47
}, {
    'text': 'took me many lifetimes before I could',
    'start': 1568.25,
    'duration': 5.84
}, {
    'text': 'see that but now I see it so clearly',
    'start': 1571.07,
    'duration': 6.33
}, {
    'text': 'deep within the eyes of the people I',
    'start': 1574.09,
    'duration': 6.91
}, {
    'text': "love the game and still I'm learning",
    'start': 1577.4,
    'duration': 7.08
}, {
    'text': "from the air of Maui's so I'll be done",
    'start': 1581.0,
    'duration': 6.84
}, {
    'text': "into the end of my days cause I've",
    'start': 1584.48,
    'duration': 6.15
}, {
    'text': 'learned in time life is [ __ ]',
    'start': 1587.84,
    'duration': 7.13
}, {
    'text': 'beautiful so go and let your light shine',
    'start': 1590.63,
    'duration': 4.34
}, {
    'text': "see I don't know which way I'm gonna go",
    'start': 1595.99,
    'duration': 7.439
}, {
    'text': 'but I got a key boy',
    'start': 1599.57,
    'duration': 3.859
}, {
    'text': 'just take me home',
    'start': 1605.93,
    'duration': 4.31
}, {
    'text': 'when you look up to the stars in your',
    'start': 1610.27,
    'duration': 7.35
}, {
    'text': 'melee I danced with yo',
    'start': 1613.28,
    'duration': 11.72
}, {
    'text': 'just take me home just take me away far',
    'start': 1617.62,
    'duration': 10.86
}, {
    'text': "from the city where I've come to stay to",
    'start': 1625.0,
    'duration': 6.419
}, {
    'text': 'gather up my heartbeats put them on the',
    'start': 1628.48,
    'duration': 5.73
}, {
    'text': 'page so I can throw them through the',
    'start': 1631.419,
    'duration': 6.061
}, {
    'text': 'skyline just to pass my time every',
    'start': 1634.21,
    'duration': 7.44
}, {
    'text': 'single word I say let it be peaceful',
    'start': 1637.48,
    'duration': 8.01
}, {
    'text': 'let it be meaningful create something',
    'start': 1641.65,
    'duration': 7.32
}, {
    'text': 'beautiful powerful magical something I',
    'start': 1645.49,
    'duration': 6.179
}, {
    'text': "can't live for what are you waiting for",
    'start': 1648.97,
    'duration': 8.55
}, {
    'text': "go and let your light shine said I don't",
    'start': 1651.669,
    'duration': 9.151
}, {
    'text': "know which way I'm gonna go but I got a",
    'start': 1657.52,
    'duration': 6.17
}, {
    'text': 'boy',
    'start': 1660.82,
    'duration': 2.87
}, {
    'text': 'just a',
    'start': 1666.24,
    'duration': 4.99
}, {
    'text': 'mijo',
    'start': 1668.93,
    'duration': 2.3
}, {
    'text': 'look up you the styling appeal Alenia hi',
    'start': 1671.59,
    'duration': 6.42
}, {
    'text': 'Nance win you know',
    'start': 1674.98,
    'duration': 6.42
}, {
    'text': 'just a Creole',
    'start': 1678.01,
    'duration': 8.94
}, {
    'text': 'just take me there to the place that I',
    'start': 1681.4,
    'duration': 9.09
}, {
    'text': 'wanna be looking up possibly the future',
    'start': 1686.95,
    'duration': 6.93
}, {
    'text': 'in front of me I see the Pakistan and on',
    'start': 1690.49,
    'duration': 6.569
}, {
    'text': "the pack right here right now that's",
    'start': 1693.88,
    'duration': 5.04
}, {
    'text': 'exactly where I wanna be',
    'start': 1697.059,
    'duration': 4.951
}, {
    'text': "we've we learned we we have to fall to",
    'start': 1698.92,
    'duration': 6.66
}, {
    'text': 'right lessons learn the hard way open up',
    'start': 1702.01,
    'duration': 7.44
}, {
    'text': 'our eyes sometimes I laugh sometimes I',
    'start': 1705.58,
    'duration': 8.96
}, {
    'text': 'cry all of my darkness all of my life',
    'start': 1709.45,
    'duration': 37.729
}, {
    'text': '[Music]',
    'start': 1714.54,
    'duration': 35.4
}, {
    'text': "said I don't know which way I'm gonna go",
    'start': 1747.179,
    'duration': 13.46
}, {
    'text': 'but I gotta keep going just take me home',
    'start': 1749.94,
    'duration': 10.699
}, {
    'text': 'when you look up to the Stars and you',
    'start': 1760.7,
    'duration': 5.529
}, {
    'text': "feel it in your heart that's when you",
    'start': 1763.739,
    'duration': 11.81
}, {
    'text': 'know just take me home just take me',
    'start': 1766.229,
    'duration': 9.32
}, {
    'text': '[Music]',
    'start': 1785.31,
    'duration': 3.13
}, {
    'text': '[Music]',
    'start': 1792.91,
    'duration': 8.609
}]
```